/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 :root {
	--site-global--color-primary: hsl(205, 55%, 63%);
	--site-global--color-secondary: hsl(212, 60%, 95%);
	--site-global--color-tertiary: hsl(94, 55%, 57%);

	--site-global--color-primary-accent: hsl(205, 74%, 49%);
	--site-global--color-primary-accent-dark: hsl(205, 77%, 15%);
	--site-global--color-primary-accent-light: hsl(205, 84%, 80%);

	--site-global--color-secondary-accent: hsl(212, 80%, 80%);
	--site-global--color-secondary-accent-dark: hsl(211, 23%, 18%);
	--site-global--color-secondary-accent-light: hsl(213, 56%, 88%);

	--site-global--color-tertiary-accent: hsl(94, 88%, 37%);
	--site-global--color-tertiary-accent-dark: hsl(94, 87%, 12%);
	--site-global--color-tertiary-accent-light: hsl(95, 81%, 87%);
 }

 .components-toolbar__control.components-button.button-remove {
	z-index: 2;
	position: absolute;
	top: 1rem;
	left: 1rem;
	background: white;
	color: #b93535;
	border: 2px solid #b93535;
	cursor: pointer;
	border-radius: 4px;
	padding: 0.5rem 1rem;
}

.cta-block .cta__image-container {
	position: relative;
}
